body {
  font-family: Unica One;
  background-image: url(images/bg.png);
  color: white;
}

h1 {
  font-size: 300%;
}

a {
  text-decoration: none;
  font-size: 500%;
}
.navi {
  display: flex;
  justify-content: center;
}


.container {

}

img {
  height: 50%;
}

#logo {
  height: 300px;
  width: auto;
  padding: 10px;
}
